<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>ACP Controle Times</title>
</head>
<body>
<h1> ACP TIMES </h1>
</body>

{% for item in items %}
<h4> Start:&emsp;&thinsp; {{ item.name }}<br>   
    Close:&emsp; {{ item.disc }}</h4> 
{% endfor %}

</html>

